@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
  
}
    <script src="~/Scripts/buttonHider.js"></script>
    <!-- Feedback -->
    <div class="feedback main-grid-border">
        <div class="container">
            <h2 class="head">Report Problem</h2>
            <h4 class="text-danger"><span><b>Error Message: </b></span>@ViewBag.ErrorMessage</h4>
         
            <br />
            <div class="feed-back">
                <h3>Help us improve Freelancer</h3>
                <p>Seems like you've encountered an error. Send us a feedback so our programmers can quickly fix your problem</p>
                <div class="feed-back-form">
                    <form>
                        <span>User Details</span>
                        <input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
                        <input type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
                        <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                        <input type="text" value="Phone No" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone No';}">
                        <span>Is there anything you would like to tell us?</span>
                        <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // Feedback -->
    <!--footer section start-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="foo-grids">
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Who We Are</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal letters, as opposed to using 'Content here.</p>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Help</h4>
                        <ul>
                            <li><a href="howitworks.html">How it Works</a></li>
                            <li><a href="sitemap.html">Sitemap</a></li>
                            <li><a href="faq.html">Faq</a></li>
                            <li><a href="feedback.html">Feedback</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="typography.html">Shortcodes</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Information</h4>
                        <ul>
                            <li><a href="regions.html">Locations Map</a></li>
                            <li><a href="terms.html">Terms of Use</a></li>
                            <li><a href="popular-search.html">Popular searches</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4 class="footer-head">Contact Us</h4>
                        <span class="hq">Our headquarters</span>
                        <address>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-map-marker"></span></li>
                                <li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
                                <div class="clearfix"></div>
                            </ul>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-earphone"></span></li>
                                <li>+0 561 111 235</li>
                                <div class="clearfix"></div>
                            </ul>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-envelope"></span></li>
                                <li><a href="mailto:info@example.com">mail@example.com</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="footer-logo">
                    <a href="index.html"><span>Re</span>sale</a>
                </div>
                <div class="footer-social-icons">
                    <ul>
                        <li><a class="facebook" href="#"><span>Facebook</span></a></li>
                        <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                        <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                        <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                        <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
                    </ul>
                </div>
                <div class="copyrights">
                    <p> © 2016 Resale. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
    <!--footer section end-->
</body>
</html>